#!/sbin/busybox sh

cat << CTAG
{
    name:NETWORK,
    elements:[
    	{ SPane:{
		title:"TCP Congestion Control",
		description:" Select your preferred WIFI TCP algorithm. Regulates upload and download affecting throughput in various ways. Default is Westwood+."
    	}},
	{ SDescription:{
		description:""
	}},
	{ SOptionList:{
		default:`cat proc/sys/net/ipv4/tcp_congestion_control`,
		action:"generic proc/sys/net/ipv4/tcp_congestion_control",
		values:[`while read values; do busybox printf "%s, \n" $values; done < proc/sys/net/ipv4/tcp_available_congestion_control`]
	}},
	{ SDescription:{
		description:""
	}},
	{ STitleBar:{
		title:"Screen mirroring / AllShare Cast fix"
	}},
	{ SDescription:{
		description:" Possible screen mirroring / AllShare Cast fix for rooted devices, works for some. Turn OFF WIFI first. Default is Enabled."
	}},
	{ SDescription:{
		description:""
	}},
	{ SOptionList:{
		default:`echo $(/res/synapse/actions/mirror mirror_fix)`,
		action:"mirror mirror_fix",
		values:[Disabled, Enabled,]
	}},
	{ SDescription:{
		description:""
	}},
	{ STitleBar:{
		title:"Clean WIFI Lease"
	}},
	{ SDescription:{
		description:" Clean WIFI DHCP IP Lease. Push the button to activate!"
	}},
	{ SDescription:{
		description:""
	}},
	{ SButton:{
		label:"Clean WIFI Lease",
		action:"devtools fix_wifi"
	}},
	{ SDescription:{
		description:""
	}},
	{ SPane:{
		title:"WiFi DTIM Interval",
		description:" \n\tThe Delivery Traffic Indication Message (DTIM) corresponds to every beacon sent by the WiFi access point, and lets clients know data is about to be exchanged. This interval allows your WiFi chip to sleep longer before it has to wake up and listen for broadcasts and multicasts. By default the driver uses a value of 0, which means it defaults to what the WiFi access point defaults to. Often times that default is 1 (as frequently as possible). The higher this number, the less power the WiFi radio will use, but the longer it will take before it knows data has arrived (aka push notifications may be slow).\n\n\tNote: You MUST suspend and resume display for changes to take effect!\n"
        }},
        { SSeekBar:{
       		title:"WiFi DTIM Interval While Screen-On",
		description:" Sets the ratio of how many DTIMs the driver will skip while the screen is on. 1:1 = every time (as fast as possible), 1:2 = every other one, 1:3 = every third one, etc. 0 means use access point's default value.\n\n\tNote: You MUST suspend and resume for changes to take effect!\n",
			default:0,
			max:100,
			min:0,
			step:1,
			unit:"",
			action:"generic /sys/module/dhd/parameters/dtim_awake",
	}},
	{ SSpacer:{
		height:1
	}},
	{ SSeekBar:{
       		title:"WiFi DTIM Interval While Screen-Off",
		description:" Sets the ratio of how many DTIMs the driver will skip while the screen is off. 1:1 = every time (as fast as possible), 1:2 = every other one, 1:3 = every third one, etc. 0 means use access point's default value.\n\n\tNote: You MUST suspend and resume display for changes to take effect!\n",
			default:0,
			max:100,
			min:0,
			step:1,
			unit:"",
			action:"generic /sys/module/dhd/parameters/dtim_suspended",
	}},
	{ SDescription:{
		description:""
	}},
	{ SPane:{
		title:"TCP/IP Network Security Tweak",
		description:" Protect against SYN & DoS attack etc. Default is Disabled."
	}},
	{ SDescription:{
		description:""
	}},
	{ SOptionList:{
		default:`echo $(/res/synapse/actions/network tcp_security)`,
		action:"network tcp_security",
		values:[Disabled, Enabled,]
	}},
	{ SDescription:{
		description:""
	}},
	{ SPane:{
		title:"TCP/IP Network Speed Tweak",
		description:" Optimize TCP buffer sizes for various networks. Default is Enabled."
	}},
	{ SDescription:{
		description:""
	}},
	{ SOptionList:{
		default:`echo $(/res/synapse/actions/network tcp_speed)`,
		action:"network tcp_speed",
		values:[Disabled, Enabled,]
	}},
	{ SDescription:{
		description:""
	}},
	{ SPane:{
		title:"3G DNS Tweaks",
		description:" Allows you to set the default DNS (Domain Name System) for 3G connections. Use this to potentially speed up your browsing experience (depending on DNS location) and improve your security. Default is Google.",
	}},
	{ SDescription:{
		description:""
	}},
	{ SDescription:{
		description:" * You must have a mobile data network connection before applying new DNS *"
	}},
	{ SDescription:{
		description:""
	}},
	{ SOptionList:{
		default:`echo $(/res/synapse/actions/network dns)`,
		action:"network dns",
		values:[Disabled, Google, OpenDNS, Comodo, Level3, Norton_DNS, Smart_Viper,]
	}},
	{ SDescription:{
		description:""
	}},
	{ SPane:{
		title:"IPV6 Optimistic Detection"
	}},
	{ SDescription:{
		description:""
	}},
	{ SCheckBox:{
		description:" Perform Optimistic Duplicate Address Detection. Default is Enabled.",
		label:"IPV6 optimistic_dad",
		default:`cat /proc/sys/net/ipv6/conf/all/optimistic_dad`,
		action:"generic /proc/sys/net/ipv6/conf/all/optimistic_dad"
    	}},
	{ SDescription:{
		description:""
	}},
	{ SCheckBox:{
		description:" If enabled, do not classify optimistic addresses as depreciated during source selection. Preferred addresses will still be chosen before optimistic addresses, subject to other ranking in the source selection algorithm. Default is Enabled.",
		label:"IPV6 use_optimistic",
		default:`cat /proc/sys/net/ipv6/conf/all/use_optimistic`,
		action:"generic /proc/sys/net/ipv6/conf/all/use_optimistic"
    	}},
	{ SDescription:{
		description:" "
	}},
    ]
}
CTAG
